name: Branch Tests

on:
  push:
    branches-ignore:
      - "main"

jobs:
  Publish:
    name: Lint + Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun lint

      - name: Test
        run: bun test

      - name: Build
        run: |
          cd lib
          bun run build
